# Development related
*.vscode
*.out
.idea

# MacOS stuff
*.dSYM
*.DS_Store

# Ignore renders
renders
*.ppm
*.png
*.pfm
*.gif

# Ignore build and executable
build
raytrace

# Ignore assets by default. 
#   (some small ones are added manually for convenience)
assets/
